@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is info about me:
    <br>My name is Kenny
    <br>I am a consultant at Microsoft
    <br> <img src="~/images/kchalupa.jpg" alt="Photo of Kenny" />
</p>